@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

body {
  background: black;
}

img {
  min-width: 300px;
  width: 50vw;
  max-width: 600px;
  filter: invert(1);
}

p {
  font-size: 25px;
}
